USE [master]
GO
/****** Object:  Database [AfrosoftTest]    Script Date: 2021/09/03 00:21:09 ******/
CREATE DATABASE [AfrosoftTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AfrosoftTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AfrosoftTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AfrosoftTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AfrosoftTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AfrosoftTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AfrosoftTest]
GO
/****** Object:  Table [dbo].[m_account]    Script Date: 2021/09/03 00:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_name] [varchar](50) NOT NULL,
	[date_created] [datetime] NOT NULL,
	[balance] [decimal](18, 2) NOT NULL,
	[currency] [varchar](50) NOT NULL,
	[account_type] [varchar](50) NOT NULL,
	[account_number] [varchar](50) NOT NULL,
 CONSTRAINT [PK_m_account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [account_number_unique] UNIQUE NONCLUSTERED 
(
	[account_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_deposits]    Script Date: 2021/09/03 00:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_deposits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[account_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_m_deposits] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_transactions]    Script Date: 2021/09/03 00:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[source_account_number] [varchar](50) NOT NULL,
	[destination_account_number] [varchar](50) NOT NULL,
	[reference] [varchar](200) NULL,
 CONSTRAINT [PK_m_transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_withdrawals]    Script Date: 2021/09/03 00:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_withdrawals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[account_id] [int] NULL,
	[amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_m_trans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
